.obob {
  margin: 0 0 0 0.5rem;
}
.body-container {
  background-image: url('https://res.cloudinary.com/adesanza/image/upload/v1623767456/zabuni/Group_2021_m9it9l.png');
  /* background-image: url('./Group\ 2021\ \(1\).svg'); */
  /* height: 500px; */
  width: 100%;
  padding: 180px 50px 130px 80px;
}
.header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 63px;
  line-height: 72px;
  color: #ffffff;
}
.header-text > span {
  font-weight: 800;
}

/* startijng from heret on the brught in css that i have done */

/* ghdgh */
.iframe-test {
  width: 95%;
  height: 346px;
  border-radius: 10px;
}
.tiers {
  display: flex;
  margin: 0 100px;
}
.group-clientele {
  text-align: center;
  padding-bottom: 70px;
}
.clientele {
  padding: 50px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 52px;
  /* identical to box height, or 173% */

  color: #07031f;
}
.circle-client {
  border-radius: 50%;
  background-color: rgba(254, 65, 39, 0.2);
  /* width: 130px; */
  /* height: 132px; */
  width: 150px;
  height: 150px;
  /* justify-self: center; */
  margin: auto;
  /* vertical-align: middle; */
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  /* identical to box height, or 144% */

  color: #0056b3;
}
.publisher-box {
  display: flex;
}
.butter-start {
  background: #fe4127;
  box-shadow: 0px 3px 3px rgba(26, 14, 96, 0.12);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
  padding: 15px 45px;
  border: none;
  margin-right: 30px;
}
.butter-log {
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(26, 14, 96, 0.12);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  color: #0056b3;
  padding: 15px 45px;
  border: none;
  margin: auto;
}
.footer-image {
  margin: 50px 0 50px 16px;
}
